body {
    font-family: 'Open Sans', sans-serif;
    background-color:  rgb(221, 220, 220);
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a {
    color: #e9e9e9

}
a:hover,
a:active{
    color: #DFA64A;
}
nav{
    height: 80px;
    background: rgb(41, 43, 74);
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
    color: rgb(248, 248, 248);
}
nav h1 {
    font-size: 35px;
    color: rgb(221, 220, 220);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 20px;
}

nav ul li a{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 20px;
    color: rgb(221, 220, 220);
    text-decoration: none; /* fjerner streken under */
    display: inline; /* Usikker på om block er finere/bedre? */
    font-weight: normal;
    border: 2px solid transparent;
    padding: 7px 10px;
}
nav ul li a:hover,
nav ul li a.active {
    border: 2px solid #DFA64A;
    padding: 7px 10px;
}
label #btn,
label #cancel{
    color: rgb(221, 220, 220);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1075px){
    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #999bb5;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav h1 {
    font-size: 25px;
    color: rgb(221, 220, 220);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 20px;
    transition: .1s;
}
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color:  rgb(41, 43, 74);
        font-weight: bold;
    }
    nav i:hover{
        color: #DFA64A;
    }
    
/* Utgjør ingen forskjell, men var et forsøk på å få 
alle iconene til å endre farge ved berøring */

    #check:checked ~ ul{
        left: 0%;

    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;

    }
}
.forside {
    background-color: rgb(198, 197, 199);
    display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 90%;
        text-align: left;
        padding: 180px;
}

.forside_innhold h1{
    color: #181818;
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 1075px){
    /* vil få linjen Velkommen til
    Bergen sjakk klubb i å deles i to
    slik at klubb ikke er som siste ord
    på en egen linje, men usikker på 
    hvordan, og ikke fornøyd med at
    tekten måtte bli større for å få det til*/
    h1 {
        font-size: 50px;
    }
}

.tenester{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: left;
    padding: 180px;
}

.tilbud {
    background-color: rgb(198, 197, 199);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: left;
    padding: 180px;
}